/* Regular navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  height: 100px;
}
  
.main-header {
    margin: auto;
    padding: 50px;
    text-align: center;
    margin-left: 15px;
  }

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
  text-decoration: none;
  color: #343a40;
  font-size: 1rem;
}

.navbar-logo {
  width: 200px;
  height: auto;
  padding-left: 10px;
  border-radius: 4px;
}

.owners {
    width: 172px;
    height: auto;
    border-radius: 38px;
    margin-left: 250px;
    margin-right: -80px;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.5s;
}

.owners:hover img {
    transform: scale(1.5);
  }

.cart-icon {
  font-size: 1.4rem;
  color: beige;
  border-radius: 7px;
  padding: 4px;
  margin-left: 20px;
  background-color: black;
  cursor: pointer;
}

.cart-count {
    color: rgb(31, 228, 31);
    font-size: 1rem;
    margin-left: 5px;
}
.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

/* NavBar.css */

.menu-button {
  display: flex;
  align-items: center;
  background-color: #282727;
  opacity: 0.8;
  border-radius: 18px;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.profile-button-container {
  display: flex;
  align-items: center;
}

 
.profile-button {
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
  }
  .profileIcon,
  .hamburger-icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .hamburger-icon {
    filter: invert(1);
  }

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f4f1f1;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f4f3f3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  white-space: nowrap;
}

.profile-info {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #ffffff;
}

.profile-dropdown-item {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: #1b1c1e;
  display: block;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.profile-dropdown-item:hover {
  color: white !important;
  background-color: black;
}

.text-link {
  background: none;
  border: none;
  text-decoration: none !important;
  display: block;
  text-align: center;
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

.text-link:hover {
  text-decoration: none;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  text-decoration: none;
}

/* Ensure all drop-down text remains black in light and dark mode */
.profile-dropdown, .profile-dropdown-item, .dropdown-item, .profile-info {
  color: black !important;
}

/* Ensure the 'Home' link is styled like other drop-down links */
.profile-dropdown-item a {
  text-decoration: none !important;
  color: black;
  display: block;
  padding: 0.75rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.profile-dropdown-item a:hover {
  background-color: #fefbfb;
  text-decoration: none !important;
}

.profileIcon {
  width: 25px;
}

/* Media Query for mobile screens */
@media (max-width: 740px) {
  .navbar-logo {
    width: 92%;
    height: auto;
  }

  .profile-button {
    margin-left: 0;
  }
  
  .user-icon {
    margin-left: -2px;
  }

  .cart-icon {
    font-size: .6rem;
    margin-left: 12px;
  }

  .cart-count {
    font-size: .6rem;
}

  .owners {
    width: 40%;
  }
}
